.DS_Store
.DS_Store?
.*DS_Store*

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
dist

npm-debug.log
node_modules
test/reporter-custom-mochawesome/mochawesome-report/
mochawesome-report/

.idea
